manifest {
    mainScript = 'main.nf'
}

singularity {
    autoMounts = true
    enabled = true
    cacheDir = "${projectDir}/singularity" 
    envWhitelist = ['SINGULARITY_TMPDIR']
}

process {
    cache = true
    withLabel: gatk4         { container = 'quay.io/biocontainers/gatk4:4.2.5.0--hdfd78af_0' }
}

profiles {
    standard {
        includeConfig 'conf/standard.config'
    }
    hpc_slurm {
        includeConfig 'conf/slurm.config'
    } 
}

// include the pipeline parameters from this file
includeConfig "$projectDir/params.config"






