params {

    reference        = "$projectDir/data/REFERENCE.fa"
    refindexes       = "$projectDir/reference/REFERENCE.*"
    referenceDir     = "$projectDir/reference"
    output           = "$projectDir/output"
    datadir          = "$projectDir/data"

    refpart1         = "$referenceDir/S1.list"
    refpart2         = "$referenceDir/S2.list"
    refpart3         = "$referenceDir/S3.list"
    refpart4         = "$referenceDir/S4.list"
    refpart5         = "$referenceDir/S5.list"
    refpart6         = "$referenceDir/S6.list"
    refpart7         = "$referenceDir/S7.list"
    refpart8         = "$referenceDir/S8.list"
    refpart9         = "$referenceDir/S9.list"
    refpart10        = "$referenceDir/S10.list"

    help             = false
    nr_threads       = 10
    sb_memory        = "40G"

    setup            = false
    bwa_index        = false
    print_samples    = false
    download_only    = false
    upload_only      = false
    call_only        = false
    split_call       = false
    all              = false
    sample_list      = ""
    sample_id        = ""
    population       = ""
    inpath           = ""
    outpath          = ""
    alignedbam       = ""
    alignedbai       = ""
    platform         = ""
    clean_files      = false
    do_realignment   = true
    
}

//variant - -r '{"":{"rules":[{"clip":[0,25]}]}}'
//variant - ${params.variant_rules}
//    variant_rules    = "-v -m 200 -L $referenceDir/exclude_LC.bed -r '{\"\":{\"rules\":[{\"clip\":[0,50],\"ic\":false}]}}'"    

