/*
* This configuration file is the one used when indicating the Nextflow parameter -profile hpc_slurm
*/

process { 
    // definition of the slurm executor. Run the pipeline in a node able to submit jobs to a HPC via sbatch
    executor="slurm"       

    // resources for default process execution
    time='72h'
    queue='small'
    cpus='2'
    memory='20G'

    clusterOptions = { "--account=project_NUMBER" }

    withLabel: 'manycpus' {
       cpus='4'
    }   

    withLabel: 'bigmem' {
       memory='80G'
    }   


} 
